# Keine temporären Dateien
*.log
*.tmp

# Keine kubeconfigs
.kube/
config
kubeconfig*

# Keine IDE/Editor-Dateien
.vscode/
.idea/
*.swp

# Python Cache
__pycache__/
*.pyc

# Backend-venv
backend/.venv/

# Laufzeitdaten (Persistenz)
backend/data/instances.json
backend/data/
# Backup-/Test-Datei
backend/main2.py
